---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language:        Cpp
AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
ColumnLimit: 80
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'type', 'const']
ReferenceAlignment: Left
