[run]

source = amici
omit =
    */amici.py
    */amici_without_hdf5.py
    */ThirdParty/*
    *.template.*
    /tmp/*
parallel = true

[report]

exclude_lines =
    pragma: no cover
    raise
    except:
    import

