
SuiteSparse/include/*

SuiteSparse/lib/*

SuiteSparse/share/*

sundials/build/*

CMakeFiles/*

build/*

build-debug/*

build_xcode/*

swig/python/build/*

tests/cpputest/build/*

tests/cpputest/build_xcode/*

tests/cpputest/Testing/*

ThirdParty/*

doc/*

fonts/*

sed-ml/*

stylesheets/*

scripts/env.sh

images/*

debug_amici/*

models/*

!models/model_dirac

models/model_dirac/build/*

!models/model_steadystate

models/model_steadystate/build/*

!models/model_jakstat_adjoint

models/model_jakstat_adjoint/build/*

!models/model_jakstat_adjoint_o2

models/model_jakstat_adjoint_o2/build/*

!models/model_neuron

models/model_neuron/build/*

!models/model_neuron_o2

models/model_neuron_o2/build/*

!models/model_events

models/model_events/build/*

!models/model_nested_events

models/model_nested_events/build/*

!models/model_robertson

models/model_robertson/build/*

simulate_model_*_hdf.m

simulate_model_*.m

.DS_Store

index.html

Makefile

AMICI.mlappinstall

cmake_install.cmake

CMakeCache.txt

CMakeLists.txt.user

.coveralls.yml

*.a

*.info

*.o

*.obj

*.eps

*.mexmaci64

*.mexa64

*.mexw64

*.mexmaci32

*.mexa32

*.mexw32

*.eps

*.js

*.md5

*.json

*.mat

*.js

*.json

*.m~

*.plist

*.make

*.bin

*.csv

*.log

tests/sbml-test-suite/

tests/sedml-test-suite/

mtoc/config/latexextras.sty-e

mtoc/config/latexextras.sty

mtoc/config/Doxyfile-e

.project

.pydevproject

.settings/

cppcheck.txt

__pycache__

tests/cpputest/writeResults.h5
tests/cpputest/writeResults.h5.bak

tests/sbml-semantic-test-cases/*

python/.idea/misc.xml

python/.idea/modules.xml

python/.idea/python.iml

python/.idea/workspace.xml
