
models/*

*.mexmaci64

*.o

*.md5

mtoc/config/Doxyfile

examples/example_1/simulate_model_example_1.m

examples/example_2/simulate_model_example_2.m

examples/example_3/simulate_model_example_3.m

examples/example_4/simulate_model_example_4.m

examples/example_5/simulate_model_example_5.m

examples/example_6/simulate_model_example_6.m

*.mat

examples/example_5/example_model_5_paper.m

*.m~

*.plist

*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcsettings

*.xcbkptlist

*.xcscheme

*.xccheckout

*.plist
