
*.o

doc/*

debug_amici/*

models/*

doc/*

fonts/*

mtoc/*

src/doc/*

stylesheets/*

images/*

*.eps

*.mexmaci64

*.mexa64

*.mexw64

*.mexmaci32

*.mexa32

*.mexw32

*.eps

*.js

*.md5

*.template

*.dox

*.json

index.html

AMICI.mlappinstall

examples/example_1/simulate_model_example_1.m

examples/example_2/simulate_model_example_2.m

examples/example_3/simulate_model_example_3.m

examples/example_4/simulate_model_example_4.m

examples/example_5/simulate_model_example_5.m

examples/example_6/simulate_model_example_6.m

examples/geneExpression/simulate_geneExpression.m

examples/example_1/html/*

examples/example_2/html/*

examples/example_3/html/*

examples/example_4/html/*

examples/example_5/html/*

examples/example_6/html/*

*.mat

mtoc/makeExampleDoc.m

mtoc/makeDocumentation.m

examples/example_5/example_model_5_paper.m

mtoc/makeDocumentation.m

mtoc/makeDocumentation.m

index.html

*.js

*.template

*.dox

*.json

examples/geneExpression/simulate_geneExpression.m

*.m~

*.plist

examples/example_events/simulate_model_events.m

examples/example_steadystate/simulate_model_steadystate.m

test/constant_events.m

examples/example_dirac/simulate_model_dirac.m

examples/example_dirac_secondorder/simulate_model_dirac_secondorder.m

examples/example_dirac_adjoint/simulate_model_dirac_adjoint.m

examples/example_adjoint/simulate_model_adjoint.m

examples/example_adjoint/simulate_model_adjoint.m
