.language: cpp
sudo: false

dist: trusty

branches:
  only:
    - master
    - staging

matrix:
  include: 
    - os: linux  
      compiler: gcc
      addons:
        apt:
          packages:
            - libhdf5-serial-dev
            - zlib1g-dev
            - libatlas-base-dev
            - valgrind
            - lcov
            - graphviz
            - doxygen
            - doxygen-latex
            - cppcheck
            - swig3.0
            - libboost-serialization-dev
      env: ENABLE_GCOV_COVERAGE=TRUE
      before_install: 
        - gem install coveralls-lcov
      after_success: 
        - ./scripts/run-coveralls.sh
    - os: osx
      compiler: clang
      before_install: 
        - brew update # without this homebrew can stumble over wrong ruby version
        - (brew install gcc || brew link --overwrite gcc) # fix linker warning regarding /usr/local/include/c++
        - brew install hdf5 cppcheck swig
        - brew upgrade python
        
install:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pyenv versions; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pyenv shell 2.7 3.6; fi
    - pip3 install --user --upgrade pip setuptools wheel
    - ./scripts/buildSuiteSparse.sh
    - ./scripts/buildSundials.sh
    - ./scripts/buildCpputest.sh
    - ./scripts/buildAmici.sh
    - ./scripts/buildTests.sh

script:  
    - ./scripts/run-cpputest.sh
    - ./scripts/run-cppcheck.sh
    - ./scripts/run-python_unittest.sh
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./scripts/run-valgrind.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./scripts/run-doxygen.sh; fi

notifications:
  webhooks: 
    urls:
      - https://icb-mmost.helmholtz-muenchen.de/hooks/ux65x1zqbpr8xy7nr9sexidhgy
    on_success: change
