language: generic
sudo: false

branches:
  only:
    - master
    - staging

matrix:
  fast_finish: true
  include: 
    - os: linux
      dist: xenial
      compiler: gcc
      addons:
        apt:
          update: true
          packages:
            - libhdf5-serial-dev
            - zlib1g-dev
            - libatlas-base-dev
            - valgrind
            - lcov
            - graphviz
            - doxygen
            - doxygen-latex
            - cppcheck
            - swig3.0
            - libboost-serialization-dev
      env: ENABLE_GCOV_COVERAGE=TRUE
      after_success: 
        - ./scripts/run-codecov.sh
        - bash <(curl -s https://codecov.io/bash) -f coverage_py.xml -X fix -F python
        - bash <(curl -s https://codecov.io/bash) -f coverage.info -X fix -F cpp
    - os: osx
      osx_image: xcode9.3
      compiler: clang
      before_install: 
        - brew update # without this homebrew can stumble over wrong ruby version
        - travis_wait brew install gcc || brew link --overwrite gcc # fix linker warning regarding /usr/local/include/c++
        - brew install hdf5 cppcheck swig doxygen ragel graphviz homebrew/cask/mactex
        - brew upgrade python
      after_success: 
        - cd $BASE_DIR # cd to base dir for correct relative path in deploy
      deploy:
        provider: pages
        local-dir: doc
        skip-cleanup: true
        github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
        keep-history: false
        verbose: true
        on:
          branch: master

install:
    # Python distutils only looks for `swig` and does not find `swig3.0`
    - export BASE_DIR=`pwd`
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then mkdir -p ~/bin/ && ln -s /usr/bin/swig3.0 ~/bin/swig && export PATH=~/bin/:$PATH; fi
    - pyenv versions
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pyenv shell 2.7 3.6; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PATH=/Users/travis/Library/Python/3.7/bin:/Library/TeX/texbin:$PATH; fi
    - pip3 install --user --upgrade pip setuptools wheel pkgconfig doxypypy scipy
    - ./scripts/buildSuiteSparse.sh
    - ./scripts/buildSundials.sh
    - ./scripts/buildCpputest.sh

script:  
#    - cd $BASE_DIR/python/sdist
#    - python3 setup.py sdist --dist-dir=$BASE_DIR/build/python/
#    - python3 -m pip install $BASE_DIR/build/python/amici-*.tar.gz --verbose
    - ./scripts/buildAmici.sh
    - cd $BASE_DIR
    - ./scripts/run-cpputest.sh
    - ./scripts/run-cppcheck.sh
    - cd $BASE_DIR/build && make python-tests && cd $BASE_DIR
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./scripts/run-valgrind.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./scripts/run-doxygen.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$TRAVIS_EVENT_TYPE" == "cron" ]]; then ./scripts/run-SBMLTestsuite.sh; fi

after_failure:
    - ls -alR

notifications:
  webhooks: 
    urls:
      - https://icb-mmost.helmholtz-muenchen.de/hooks/ux65x1zqbpr8xy7nr9sexidhgy
    on_success: change
