language: cpp

sudo: required

dist: trusty

branches:
  only:
    - master
    - staging

compiler:
    - clang
    - gcc
    
before_script:
    - sudo apt-get install libhdf5-serial-dev zlib1g-dev
    
install: true

script: ./scripts/run-tests.sh

notifications:
  slack: 
    rooms:
      - icb-dcm:PHyGJ38Zhp8HrwIxjZAwh9ZI#amici-dev
    on_success: change