branches:
  only:
    - master
    - develop
    - feature_msvc
    # Release branches, otherwise they cannot be merged into protected master
    - /^release.*/
    # Version tags
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

matrix:
  fast_finish: true
  include:
    - os: linux
      dist: bionic
      language: python
      python: 3.7
      compiler: gcc
      addons:
        apt:
          packages:
            - libhdf5-serial-dev
            - zlib1g-dev
            - libatlas-base-dev
            - lcov
            - libboost-serialization-dev
            - g++-5
            - libc6-dbg
      env:
        - ENABLE_GCOV_COVERAGE=TRUE
        - CI_MODE=test
      before_install:
        - ./scripts/buildValgrind.sh
      after_script:
        - bash <(curl -s https://codecov.io/bash) -f coverage.info -X fix -F cpp
        - bash <(curl -s https://codecov.io/bash) -f coverage_py.xml -F python
      before_deploy:
        - cd $BASE_DIR
      deploy:
        skip_cleanup: true
        provider: script
        script: scripts/deployPyPi.sh
        on:
          branch: master
          tags: true

    - os: osx
      osx_image: xcode11
      language: minimal
      compiler: clang
      env:
        - CI_MODE=test
      addons:
        homebrew:
          packages:
            - hdf5
            - swig
            - gcc
            - cppcheck
          update: true
      before_install:
        - travis_wait brew link --overwrite gcc # fix linker warning regarding /usr/local/include/c++
        - export -f travis_fold travis_nanoseconds travis_time_start travis_time_finish
        - pip3 install --user -U numpy
      after_success:
        - cd $BASE_DIR # cd to base dir for correct relative path in deploy

    - os: osx
      osx_image: xcode11
      language: minimal
      compiler: clang
      env:
        - CI_MODE=deploy
      addons:
        homebrew:
          casks:
            - mactex
          packages:
            - doxygen
            - ragel
            - graphviz
          update: true
      before_install:
        - export PATH=/Users/travis/Library/Python/3.7/bin:/Library/TeX/texbin:$PATH
        - export -f travis_fold travis_nanoseconds travis_time_start travis_time_finish
      after_success:
        - cd $BASE_DIR # cd to base dir for correct relative path in deploy
      deploy:
        provider: pages
        local-dir: doc
        skip-cleanup: true
        github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
        keep-history: false
        verbose: true
        on:
          branch: master

    - os: windows
      # language python currently not supported on Windows
      language: cpp
      compiler: msvc
      git:
        clone: false
      env:
        - CI_MODE=test
      before_install:
        - export -f travis_fold travis_nanoseconds travis_time_start travis_time_finish
        - choco install python3 --version=3.7.5 --params "/InstallDir:C:\\Python"
        - choco install swig
        - export PATH="/c/Python:/c/Python/Scripts:/c/Users/travis/AppData/Roaming/Python/Python38/Scripts:$PATH"
        - pip3 install --user -U numpy
      after_success:
        - cd $BASE_DIR # cd to base dir for correct relative path in deploy

install:
    - export BASE_DIR=`pwd`
    # Build swig4.0 (not yet available with apt) to include pydoc in source distribution for pypi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then scripts/downloadAndBuildSwig.sh && export PATH=${BASE_DIR}/ThirdParty/swig-4.0.1/install/bin:${PATH}; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$CI_MODE" == "test" ]]; then pip3 install --upgrade pip==9.0.3 setuptools wheel pkgconfig scipy; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]] && [[ "$CI_MODE" == "test" ]]; then pip3 install --user --upgrade pip==9.0.3 setuptools wheel pkgconfig scipy; fi
    - if [[ "$TRAVIS_OS_NAME" != "windows" ]] && [[ "$CI_MODE" == "deploy" ]]; then pip3 install --user --upgrade pip==9.0.3 doxypypy; fi # pinning pip because of https://github.com/pypa/pip/issues/5240
    - if [[ "$TRAVIS_OS_NAME" != "windows" ]] && [[ "$CI_MODE" == "test" ]]; then ./scripts/buildSuiteSparse.sh; fi
    - if [[ "$TRAVIS_OS_NAME" != "windows" ]] && [[ "$CI_MODE" == "test" ]]; then ./scripts/buildSundials.sh; fi
    - if [[ "$TRAVIS_OS_NAME" != "windows" ]] && [[ "$CI_MODE" == "test" ]]; then ./scripts/buildCpputest.sh; fi
    - if [[ "$TRAVIS_OS_NAME" != "windows" ]] && [[ "$CI_MODE" == "test" ]]; then ./scripts/buildBNGL.sh; fi
    - if [[ "$TRAVIS_OS_NAME" != "windows" ]] && [[ "$CI_MODE" == "test" ]]; then ./scripts/buildAmici.sh; fi
    - if [[ "$TRAVIS_OS_NAME" != "windows" ]] && [[ "$CI_MODE" == "test" ]]; then ./scripts/installAmiciArchive.sh; fi
    - if [[ "$TRAVIS_OS_NAME" != "windows" ]] && [[ "$CI_MODE" == "test" ]]; then ./scripts/installAmiciSource.sh; fi
    #- if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then pip install --user -U pip; fi
    # allow PowerShell to run scripts
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then powershell -Command Set-ExecutionPolicy Unrestricted -Force; fi
    # Enable Windows developer mode to support symlinks
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then powershell -Command New-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock" -Name AllowDevelopmentWithoutDevLicense -Value 1  -PropertyType DWord; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then git clone -c core.symlinks=true https://github.com/ICB-DCM/AMICI.git && cd AMICI; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then pip -v install python-libsbml; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]] && [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then git checkout -qf $TRAVIS_COMMIT; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]] && [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then git fetch origin pull/$TRAVIS_PULL_REQUEST/head:$TRAVIS_BRANCH && git checkout $TRAVIS_BRANCH; fi
    # start of temporary test code
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then powershell -Command Write-Output $BASE_DIR; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then powershell -Command Get-ChildItem ./scripts; fi
    # end of temporary test code
    # - if [[ "$TRAVIS:OS:NAME" == "windows" ]]; then powershell "-Command $VerbosePreference='Continue'"; fi # set verbose mode
    # - if [[ "$TRAVIS:OS:NAME" == "windows" ]]; then powershell $VerbosePreference; fi # display it
    # - if [[ "$TRAVIS:OS:NAME" == "windows" ]]; then powershell ./scripts/installOpenBLAS.ps1; fi
    - if [[ "$TRAVIS:OS:NAME" == "windows" ]]; then powershell.exe -File 'C:\Users\travis\build\AMICI\scripts\installOpenBLAS.ps1';export BLAS_LIBS BLAS_CFLAGS; fi
    # - if [[ "$TRAVIS:OS:NAME" == "windows" ]]; then powershell "-Command $VerbosePreference='SilentlyContinue'"; fi
    # check results of openBLAS installation
    # - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then powershell "-Command if (Test-Path C:\BLAS) {Get-ChildItem C:\BLAS -Recurse}"; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then powershell -Command New-Item -Path Env:BLAS_TESTW -Value TestWindows -Force;export BLAS_TESTW; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then export BLAS_TESTL=TestLinux; fi
    # - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then export BLAS_LIBS=/LIBPATH:${BASE_DIR}/ThirdParty/openBLAS/OpenBLAS-0.3.6-x64/lib; fi
    # - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then export BLAS_CFLAGS=/IC:${BASE_DIR}/ThirdParty/openBLAS/OpenBLAS-0.3.6-x64/include; fi
    # - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then export BLAS_LIBS='/LIBPATH:C:\\Users\\travis\\build\\ThirdParty\\openBLAS\\OpenBLAS-0.3.6-x64\\lib'; fi
    # - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then export BLAS_CFLAGS='/IC:\\Users\\travis\\build\\ThirdParty\\openBLAS\\OpenBLAS-0.3.6-x64\\include'; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then export BLAS_LIBS='-LIBPATH:amici/ThirdParty/openBLAS/OpenBLAS-0.3.6-x64/lib'; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then export BLAS_CFLAGS='-Iamici/ThirdParty/openBLAS/OpenBLAS-0.3.6-x64/include'; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then powershell -Command Get-ChildItem amici/Thirdparty/openBLAS/OpenBLAS-0.3.6-x64/include; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then powershell -Command Get-Item -Path Env:BLAS_*; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then echo $BLAS_LIBS $BLAS_CFLAGS $BLAS_TESTL $BLAS_TESTW; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then cd python/sdist && python setup.py sdist; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then pip install $(ls -t dist/amici-*.tar.gz | head -1); fi

script:
    - export -f travis_fold travis_nanoseconds travis_time_start travis_time_finish
    - export FOLD=$BASE_DIR/scripts/travis_wrap.sh
    - cd $BASE_DIR
    - if [[ "$CI_MODE" == "test" ]]; then $FOLD notebooks "cd $BASE_DIR && scripts/runNotebook.sh python/examples/example_*/"; fi
    - if [[ "$TRAVIS_OS_NAME" != "linux" ]] && [[ "$CI_MODE" == "test" ]]; then $FOLD cpputest ./scripts/run-cpputest.sh; fi
    - if [[ "$TRAVIS_OS_NAME" != "linux" ]] && [[ "$CI_MODE" == "test" ]]; then $FOLD python-tests ./scripts/run-python-tests.sh; fi
    - if [[ "$TRAVIS_OS_NAME" != "linux" ]] && [[ "$CI_MODE" == "test" ]]; then $FOLD cmake ./tests/testCMakeCompilation.sh; fi
    - if [[ "$CI_MODE" == "deploy" ]]; then $FOLD doxygen ./scripts/run-doxygen.sh; fi
    - if [[ "$TRAVIS_OS_NAME" != "linux" ]] && [[ "$CI_MODE" == "test" ]]; then $FOLD cppcheck ./scripts/run-cppcheck.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$CI_MODE" == "test" ]]; then $FOLD valgrind ./scripts/run-valgrind.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$CI_MODE" == "test" ]]; then $FOLD codecov ./scripts/run-codecov.sh; fi

after_failure:
    - $FOLD ls -alR

# cache dependencies
cache:
  directories:
    - $HOME/Library/Caches/Homebrew
    - $HOME/Library/Caches/pip
    - $HOME/.cache/pip
  timeout: 1200

before_cache:
  - brew cleanup
