# NOTE: relative paths are expected to be relative to the repository root
sphinx
mock>=5.0.2
setuptools>=67.7.2
# pysb>=1.11.0
# WIP PR for compatibility with recent sympy
#  https://github.com/pysb/pysb/pull/599
#  for building the documentation, we don't care whether this fully works
git+https://github.com/pysb/pysb@0afeaab385e9a1d813ecf6fdaf0153f4b91358af
# For forward type definition in generate_equinox
matplotlib>=3.7.1
optax
nbsphinx
nbformat
myst-parser
sphinx_rtd_theme>=1.2.0
petab[vis]>=0.2.0
sphinx-autodoc-typehints
ipython>=8.13.2
h5py>=3.14.0
breathe>=4.35.0
exhale>=0.3.7
-e git+https://github.com/mithro/sphinx-contrib-mithro#egg=sphinx-contrib-exhale-multiproject&subdirectory=sphinx-contrib-exhale-multiproject
sphinxcontrib-napoleon>=0.7
pygments>=2.15.1
Jinja2>=3.1.6
ipykernel
-e git+https://github.com/Benchmarking-Initiative/Benchmark-Models-PEtab.git@master#subdirectory=src/python&egg=benchmark_models_petab
-e python/sdist/[jax]
antimony>=2.13
fiddy>=0.0.3
-e git+https://github.com/petab-dev/libpetab-python.git@main#egg=petab
