recursive-include amici/ThirdParty/SuiteSparse *
recursive-include amici/ThirdParty/sundials *
recursive-include amici/ThirdParty/gsl *.hpp
recursive-include amici/cmake *
recursive-include amici/include/amici *.h
recursive-include amici/src *
recursive-include amici/swig *
include amici/*
include version.txt
include LICENSE.md
exclude amici/*.so
exclude amici/*.dll
prune **/build
prune amici/share
prune amici/lib
prune amici/ThirdParty/SuiteSparse/lib
prune amici/ThirdParty/SuiteSparse/include
prune __pycache__
