[build-system]
requires = [
    "setuptools>=40.6.3",
    "wheel",
    # oldest-supported-numpy helps us to pin numpy here to the lowest supported
    # version to have ABI-compatibility with the numpy version in the runtime
    # environment. The undesirable alternative would be pinning the setup.py
    # numpy requirement to the same version as here, which we want to avoid.
    # cf. discussion at https://github.com/numpy/numpy/issues/5888
    # (https://github.com/scipy/oldest-supported-numpy/)
    "oldest-supported-numpy",
    "cmake-build-extension==0.5.1",
]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 79

[tool.ruff]
line-length = 79
ignore = ["E402", "F403", "F405", "E741"]
extend-include = ["*.ipynb"]
