sphinx==4.2.0
mock>=4.0.1
setuptools>=45.2.0
pysb>=1.11.0
matplotlib>=3.4.3
pkgconfig>=1.5.5
nbsphinx>=0.8.7
recommonmark>=0.6.0
sphinx_rtd_theme>=1.0.0
petab>=0.1.20
sphinx-autodoc-typehints==1.13.0
git+https://github.com/readthedocs/sphinx-hoverxref@master
ipython>=7.28.0
breathe==4.31.0
#exhale>=0.2.3
git+https://github.com/dweindl/exhale@ea77a313777c1382a7830ce9ee6c405ce47f5f3b#egg=exhale
# Newer versions cause trouble with including notebooks:
# sphinx.errors.SphinxParallelError: ImportError: cannot import name 'Application' from partially initialized module 'prompt_toolkit.application.application' (most likely due to a circular import)
# https://github.com/svenevs/exhale/issues/27 https://github.com/mithro/sphinx-contrib-mithro/tree/master/sphinx-contrib-exhale-multiproject
-e git+https://github.com/mithro/sphinx-contrib-mithro#egg=sphinx-contrib-exhale-multiproject&subdirectory=sphinx-contrib-exhale-multiproject
sphinxcontrib-matlabdomain>=0.12.0
sphinxcontrib-napoleon
pygments==2.10.0
