name: Deploy Python source distribution
on: push

jobs:
  build:
    name: Deploy Python source distribution

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 20

    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y swig3.0
    - name: pip
      run: |
        pip3 install --upgrade --user wheel \
          && pip3 install --upgrade --user setuptools

    - name: Create AMICI sdist
      run: |
        cd python/sdist && /usr/bin/python3 setup.py sdist

    - name: "Upload artifact: sdist"
      uses: actions/upload-artifact@v1
      with:
        name: sdist
        path: python/sdist/dist
