name: Deploy Branch
on: [push, pull_request]

jobs:
  sdist:
    name: Deploy Python Source Distribution

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 20

    - run: echo "::set-env name=AMICI_DIR::$(pwd)"
    - run: echo "::set-env name=SWIG::${AMICI_DIR}/ThirdParty/swig-4.0.1/install/bin/swig"

    - name: Build swig4
      run: |
        sudo scripts/downloadAndBuildSwig.sh

    - name: Create AMICI sdist
      run: |
        scripts/buildSdist.sh

    - name: "Upload artifact: sdist"
      uses: actions/upload-artifact@v1
      with:
        name: sdist
        path: python/sdist/dist
