name: SBML semantic test suite
on:
  push:
    branches:
      - develop
      - master
  pull_request:
    paths:
      - .github/workflows/sbml-semantic-test-suite.yml
      - python/amici/ode_export.py
      - python/amici/sbml_import.py
      - scripts/run-SBMLTestsuite.sh
      - tests/testSBMLSuite.py
  check_suite:
   types: [requested]

jobs:
  build:
    name: SBML semantic test suite

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y swig3.0 libatlas-base-dev
    - run: AMICI_PARALLEL_COMPILE=2 ./scripts/installAmiciSource.sh
    - run: AMICI_PARALLEL_COMPILE=2 ./scripts/run-SBMLTestsuite.sh

    - name: "Upload artifact: SBML semantic test suite results"
      uses: actions/upload-artifact@v1
      with:
        name: amici-semantic-results
        path: tests/amici-semantic-results
        
    - name: Codecov SBMLSuite
      uses: codecov/codecov-action@v1.0.6
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage_SBMLSuite.xml
        flags: sbmlsuite
        fail_ci_if_error: true
