name: Documentation Tests
on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master
  merge_group:
  workflow_dispatch:
  schedule:
    - cron:  '48 4 * * *'

jobs:
  doxygen:
    name: Test Doxygen
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@v4
    - run: git fetch --prune --unshallow

    - name: Set up doxygen
      uses: ./.github/actions/setup-doxygen

    - name: Run doxygen
      run: scripts/run-doxygen.sh

  sphinx:
    name: Test Sphinx
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: [ "3.11" ]

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/checkout@v4
      - run: git fetch --prune --unshallow

      - run: echo "AMICI_DIR=$(pwd)" >> $GITHUB_ENV

      - name: Set up doxygen
        uses: ./.github/actions/setup-doxygen

      - name: Install apt dependencies
        uses: ./.github/actions/install-apt-dependencies

      - name: Install further dependencies
        run: |
          sudo apt-get update \
            && sudo apt-get install -y \
              pandoc \
            && pip install tox

      - name: Set up SWIG
        uses: ./.github/actions/setup-swig

      - name: Run sphinx
        run: tox -e doc
