name: SBML
on:
  push:
    branches:
      - develop
      - master
      - release**
  pull_request:
    paths:
      - .github/workflows/test_sbml_semantic_test_suite.yml
      - python/sdist/amici/de_export.py
      - python/sdist/amici/de_model_components.py
      - python/sdist/amici/sbml_import.py
      - python/sdist/amici/import_utils.py
      - scripts/run-SBMLTestsuite.sh
      - tests/testSBMLSuite.py
      - tests/conftest.py
  check_suite:
   types: [requested]
  workflow_dispatch:

jobs:
  build:
    name: SBML Semantic Test Suite
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        cases: ["1-250", "251-500", "501-750", "751-1000",
                "1000-1250", "1251-"]
        python-version: [ "3.11" ]

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Install apt dependencies
      uses: ./.github/actions/install-apt-dependencies

    - run: AMICI_PARALLEL_COMPILE="" ./scripts/installAmiciSource.sh
    - run: AMICI_PARALLEL_COMPILE="" ./scripts/run-SBMLTestsuite.sh ${{ matrix.cases }}

    - name: "Upload artifact: SBML semantic test suite results"
      uses: actions/upload-artifact@v4
      with:
        name: amici-semantic-results-${{ matrix.cases }}
        path: tests/amici-semantic-results

    - name: Codecov SBMLSuite
      if: github.event_name == 'pull_request' || github.repository_owner == 'AMICI-dev'
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage_SBMLSuite.xml
        flags: sbmlsuite
        fail_ci_if_error: true
