name: SBML JAX
on:
  push:
    branches:
      - main
      - 'release*'
  pull_request:
    paths:
      - .github/workflows/test_sbml_semantic_test_suite_jax.yml
      - python/sdist/amici/jax/**
      - scripts/run-SBMLTestsuite.sh
      - tests/sbml/testSBMLSuiteJax.py
      - tests/sbml/conftest.py
  check_suite:
   types: [requested]
  workflow_dispatch:

jobs:
  build:
    name: SBML Semantic Test Suite JAX
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        cases: ["1-600", "601-1200", "1200-"]
        python-version: [ "3.13" ]

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}


    - uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - name: Install apt dependencies
      uses: ./.github/actions/install-apt-dependencies


    - run: AMICI_PARALLEL_COMPILE="" ./scripts/installAmiciSource.sh
    - run: ./scripts/run-SBMLTestsuite.sh --jax ${{ matrix.cases }}

    - name: "Upload artifact: SBML semantic test suite results"
      uses: actions/upload-artifact@v5
      with:
        name: amici-semantic-results-jax-${{ matrix.cases }}
        path: tests/sbml/amici-semantic-results-jax

    - name: Codecov SBMLSuiteJax
      if: (github.event_name == 'pull_request' || github.repository_owner == 'AMICI-dev') && github.actor != 'dependabot[bot]'
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: coverage_SBMLSuite_jax.xml
        flags: sbmlsuite-jax
        fail_ci_if_error: true
