name: Valgrind tests
on:
  push:
    branches:
      - master
      - update_valgrind_supp
  pull_request:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron:  '48 4 * * *'

jobs:
  valgrind_cpp:
    name: Valgrind C++
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: [ "3.9" ]

    env:
      ENABLE_AMICI_DEBUGGING: "TRUE"

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@v3
    - run: git fetch --prune --unshallow

    - name: Install apt dependencies
      uses: ./.github/actions/install-apt-dependencies

    # install amici dependencies
    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y \
            cmake \
            python3-venv \
            valgrind

    - name: Build AMICI
      run: scripts/buildAll.sh

    - name: C++ tests / Valgrind
      run: scripts/run-valgrind-cpp.sh

  valgrind_python:
    name: Valgrind Python

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        python-version: [ "3.9" ]

    env:
      ENABLE_AMICI_DEBUGGING: "TRUE"

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@v3
    - run: git fetch --prune --unshallow

    - name: Install apt dependencies
      uses: ./.github/actions/install-apt-dependencies

    # install amici dependencies
    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y \
            cmake \
            python3-venv \
            valgrind

    - name: Build AMICI
      run: scripts/buildAll.sh

    - name: Install python package
      run: scripts/installAmiciSource.sh

    - name: Python tests / Valgrind
      run: scripts/run-valgrind-py.sh
