name: PyPI installation
on:
  workflow_dispatch:
  schedule:
    - cron:  '48 4 * * *'

jobs:
  pypi:
    name: PyPI installation

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        os: [ubuntu-24.04, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: apt
        run: |
          if [[ ${{ matrix.os }} == ubuntu* ]] ; then \
            sudo apt-get update \
            && sudo apt-get install -y \
              g++ \
              libatlas-base-dev \
              libhdf5-serial-dev \
              swig
          fi

      - name: homebrew
        run: |
          if [[ ${{ matrix.os }} == macos* ]] ; then \
            brew install hdf5 swig gcc libomp \
               && echo LDFLAGS="-L/usr/local/lib/" >> $GITHUB_ENV
          fi

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - run: pip install --upgrade pip
      - run: pip install -v amici
      - run: python -c "from amici import _amici; print(_amici)"
      - run: python -m amici
