name: Installation
on: [push, pull_request, merge_group, workflow_dispatch]

jobs:
  archive:
    name: Archive Install

    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@v4
    - run: git fetch --prune --unshallow

    - run: echo "AMICI_DIR=$(pwd)" >> $GITHUB_ENV

    - name: Install apt dependencies
      uses: ./.github/actions/install-apt-dependencies

    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y \
            cmake

    - name: Build suitesparse
      run: scripts/buildSuiteSparse.sh

    - name: Build sundials
      run: scripts/buildSundials.sh

    - name: Build AMICI
      run: scripts/buildAmici.sh

    - name: Install python archive
      run: scripts/installAmiciArchive.sh

  sdist_ubuntu:
    name: sdist Install Ubuntu

    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@v4
    - run: git fetch --prune --unshallow

    - run: echo "AMICI_DIR=$(pwd)" >> $GITHUB_ENV

    - name: Install apt dependencies
      uses: ./.github/actions/install-apt-dependencies

    - name: Create AMICI sdist
      run: scripts/buildSdist.sh

    - name: Install python sdist
      run: pip3 install -v --user $(ls -t python/sdist/dist/amici-*.tar.gz | head -1)

    - name: Test import
      run: python -m amici


  sdist_macos:
    name: sdist Install macos

    runs-on: macos-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@v4
    - run: git fetch --prune --unshallow

    - run: echo "AMICI_DIR=$(pwd)" >> $GITHUB_ENV

    - name: Install dependencies
      uses: ./.github/actions/install-macos-dependencies

    - name: Create AMICI sdist
      run: scripts/buildSdist.sh

    - name: Install python sdist
      run: pip3 install -v --user $(ls -t python/sdist/dist/amici-*.tar.gz | head -1)

    - name: Test import
      run: python -m amici
