name: Matlab
on:
  push:
  merge_group:
  workflow_dispatch:
  pull_request:
    branches:
      - master


jobs:
  matlab:
    name: Matlab

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
    - run: git fetch --prune --unshallow

    - run: echo "AMICI_DIR=$(pwd)" >> $GITHUB_ENV

    - name: Install MATLAB
      uses: matlab-actions/setup-matlab@v2
    - name: Run script
      uses: matlab-actions/run-command@v2
      with:
        command: cd matlab; installAMICI; addpath tests; testModels
