name: Windows Tests
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Tests Windows

    runs-on: windows-2019

    env:
      AMICI_SKIP_CMAKE_TESTS: "TRUE"
      openBLAS_version: "0.3.12"

    strategy:
      matrix:
        python-version: [ 3.8 ]

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@master
    - run: git fetch --prune --unshallow

    - shell: bash
      run: echo "AMICI_DIR=$(pwd)" >> $GITHUB_ENV
    - shell: bash
      run: echo "C:\\BLAS\\bin" >> $GITHUB_PATH
    - shell: bash
      run: echo "BLAS_LIBS=/LIBPATH:C:/BLAS/lib openblas.lib" >> $GITHUB_ENV
    - shell: bash
      run: echo "BLAS_CFLAGS=-IC:/BLAS/OpenBLAS-${openBLAS_version}/OpenBLAS-${openBLAS_version}" >> $GITHUB_ENV

    # Developer Command Prompt for Microsoft Visual C++
    - uses: ilammy/msvc-dev-cmd@v1

    - name: Install deps
      shell: bash
      run: |
        python -m pip install --upgrade pip \
          && pip install pytest petab \
          && choco install -y ninja \
          && choco install -y swig

    - name: Install OpenBLAS
      shell: powershell
      run: scripts/installOpenBLAS

    - name: Create sdist
      working-directory: python/sdist
      run: python setup.py sdist

    - name: Install sdist
      working-directory: python/sdist
      shell: bash
      run: pip install -v $(ls -t dist/amici-*.tar.gz | head -1)

    - name: Run Python tests
      run: python -m pytest --ignore-glob=*petab* --ignore-glob=*special* python/tests
