name: SBML
on:
  push:
    branches:
      - develop
      - master
      - release**
  pull_request:
    paths:
      - .github/workflows/test_sbml_semantic_test_suite.yml
      - python/amici/ode_export.py
      - python/amici/sbml_import.py
      - python/amici/import_utils.py
      - scripts/run-SBMLTestsuite.sh
      - tests/testSBMLSuite.py
  check_suite:
   types: [requested]
  workflow_dispatch:

jobs:
  build:
    name: SBML Semantic Test Suite
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        cases: ["1 - 250", "251 - 500", "501 - 750", "751 - 1000",
                "1000-1250", "1251-1780"]
        python-version: [ 3.8 ]

    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@master
      with:
        fetch-depth: 1
    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y swig4.0 libatlas-base-dev
    - run: AMICI_PARALLEL_COMPILE=2 ./scripts/installAmiciSource.sh
    - run: AMICI_PARALLEL_COMPILE=2 ./scripts/run-SBMLTestsuite.sh ${{ matrix.cases }}

    - name: "Upload artifact: SBML semantic test suite results"
      uses: actions/upload-artifact@v1
      with:
        name: amici-semantic-results
        path: tests/amici-semantic-results

    - name: Codecov SBMLSuite
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage_SBMLSuite.xml
        flags: sbmlsuite
        fail_ci_if_error: true
