name: Python nogil Tests
on:
  push:
    branches:
      - main
  merge_group:
  workflow_dispatch:

jobs:
  nogil-tests:
    name: Python nogil
    runs-on: ubuntu-24.04
    env:
      AMICI_SKIP_CMAKE_TESTS: "TRUE"
      AMICI_PARALLEL_COMPILE: ""
    steps:
    - run: echo "AMICI_DIR=$(pwd)" >> $GITHUB_ENV
    - name: Set up Python 3.13 free-threaded
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        freethreaded: true
    - uses: actions/checkout@v6
      with:
        fetch-depth: 20
    - name: Install apt dependencies
      uses: ./.github/actions/install-apt-dependencies
    - name: Install python package
      run: |
        python3 -m venv venv --clear
        source venv/bin/activate
        pip install --upgrade pip wheel
        pip install numpy sympy cmake-build-extension==0.6.0 swig cython pkgconfig
        AMICI_BUILD_TEMP="python/sdist/build/temp" \
          pip install --verbose -e python/sdist[test] --no-build-isolation
    - run: source venv/bin/activate && pip3 install "sympy>1.12"
    - name: Python tests
      env:
        AMICI_NOGIL: "1"
      run: |
        source venv/bin/activate && \
        pytest tests/test_nogil.py -vv
