name: PEtab
on:
  push:
    branches:
      - develop
      - master

  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    name: PEtab Testsuite

    runs-on: ubuntu-20.04

    env:
      ENABLE_GCOV_COVERAGE: TRUE

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 20

      # install dependencies
      - name: apt
        run: |
          sudo apt-get update \
            && sudo apt-get install -y \
            swig \
            libatlas-base-dev \
            python3-venv

      - name: pip
        run: |
          pip3 install --upgrade --user wheel \
            && pip3 install --upgrade --user setuptools
      - run: pip3 install pytest shyaml pytest-cov pysb petab

      - name: Build BNGL
        run: |
          scripts/buildBNGL.sh

      - run: |
          echo ::add-path::${HOME}/.local/bin/
          echo ::add-path::${GITHUB_WORKSPACE}/tests/performance/
          echo ::set-env name=BNGPATH::${GITHUB_WORKSPACE}/ThirdParty/BioNetGen-2.3.2

      # install AMICI
      - name: Install python package
        run: |
          scripts/installAmiciSource.sh

      # retrieve test models
      - name: Download and install PEtab test suite
        run: |
          git clone --depth 1  --branch pysb https://github.com/FFroehlich/petab_test_suite \
            && source ./build/venv/bin/activate \
            && cd petab_test_suite && pip3 install -e . && cd ..

      - name: Run PEtab-related unit tests
        run: |
          source ./build/venv/bin/activate \
            && pip list
            && pytest --cov-report=xml --cov=./ python/tests/test_*petab*.py

      # run test models
      - name: Run PEtab test suite
        # git clone --depth 1 https://github.com/petab-dev/petab_test_suite
        run: |
          AMICI_PARALLEL_COMPILE=2 pytest -v \
            --cov-report=xml --cov-append --cov=amici tests/petab_test_suite/

      - name: Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: petab
          fail_ci_if_error: true
