name: C++/Python Tests
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Tests Ubuntu

    # TODO: prepare image with more deps preinstalled
    runs-on: ubuntu-20.04

    env:
      ENABLE_GCOV_COVERAGE: "TRUE"
      CI_SONARCLOUD: "TRUE"

    steps:
    - uses: actions/checkout@master
    - run: git fetch --prune --unshallow

    - run: echo "AMICI_DIR=$(pwd)" >> $GITHUB_ENV
    - run: echo "BNGPATH=${GITHUB_WORKSPACE}/ThirdParty/BioNetGen-2.7.0" >> $GITHUB_ENV

    # sonar cloud
    - run: echo "SONAR_SCANNER_VERSION=4.5.0.2216" >> $GITHUB_ENV
    - run: echo "SONAR_SCANNER_HOME=${HOME}/.sonar/sonar-scanner-$SONAR_SCANNER_VERSION-linux" >> $GITHUB_ENV
    - run: echo "SONAR_SCANNER_OPTS=-server" >> $GITHUB_ENV
    - run: echo "${SONAR_SCANNER_HOME}/bin" >> $GITHUB_PATH
    - run: echo "${HOME}/.sonar/build-wrapper-linux-x86" >> $GITHUB_PATH

    # TODO: add to ci image
    - name: Install sonarcloud tools
      run: |
        sudo apt install nodejs curl unzip \
        && curl --create-dirs -sSLo $HOME/.sonar/sonar-scanner.zip \
          https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-$SONAR_SCANNER_VERSION-linux.zip \
        && unzip -o $HOME/.sonar/sonar-scanner.zip -d $HOME/.sonar/ \
        && curl --create-dirs -sSLo $HOME/.sonar/build-wrapper-linux-x86.zip \
          https://sonarcloud.io/static/cpp/build-wrapper-linux-x86.zip \
        && unzip -o $HOME/.sonar/build-wrapper-linux-x86.zip -d $HOME/.sonar/ \

    # install amici dependencies
    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y \
            cmake \
            g++ \
            libatlas-base-dev \
            libboost-serialization-dev \
            libhdf5-serial-dev \
            python3-venv \
            swig \
            lcov \
            libboost-math-dev

    - name: Build AMICI dependencies
      run: |
        scripts/buildDependencies.sh

    - name: Build AMICI
      run: |
        CI_SONARCLOUD=TRUE scripts/buildAmici.sh

    - name: Cache sonar files
      id: cache-sonar
      uses: actions/cache@v1
      with:
        path: sonar_cache
        key: ${{ runner.os }}-sonar_cache

    - name: C++ tests
      run: |
        scripts/run-cpp-tests.sh

    - name: Install python package
      run: |
        scripts/installAmiciSource.sh

    - name: Python tests
      run: |
        source build/venv/bin/activate \
        && pip3 install coverage pytest pytest-cov \
        && pytest \
          --ignore-glob=*petab* \
          --cov=amici \
          --cov-report=xml:"${AMICI_DIR}/build/coverage_py.xml" \
          --cov-append \
          ${AMICI_DIR}/python/tests

    - name: example notebooks
      run: |
        scripts/runNotebook.sh python/examples/example_*/

    - name: doc notebooks
      run: |
        scripts/runNotebook.sh documentation/GettingStarted.ipynb

    - name: Codecov Python
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./build/coverage_py.xml
        flags: python
        fail_ci_if_error: true

    - name: lcov
      run: |
        lcov --compat-libtool --no-external \
        -d ${AMICI_DIR}/build/CMakeFiles/amici.dir/src \
        -b ${AMICI_DIR} -c -o coverage_cpp.info \
        && lcov --compat-libtool --no-external \
        -d ${AMICI_DIR}/python/sdist/build/temp.linux-x86_64-$(python3 --version | sed -E 's/.*([0-9]+\.[0-9]+)\..*/\1/')/amici/src \
        -b ${AMICI_DIR}/python/sdist -c -o coverage_py.info \
        && lcov -a coverage_cpp.info -a coverage_py.info -o coverage.info

    - name: Codecov CPP
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.info
        flags: cpp
        fail_ci_if_error: true

    - name: Run sonar-scanner
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        sonar-scanner \
         -Dsonar.cfamily.build-wrapper-output=bw-output \
         -Dsonar.projectVersion="$(git describe --abbrev=4 --dirty=-dirty --always --tags | tr -d '\n')"

  osx:
    name: Tests OSX

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@master
    - run: git fetch --prune --unshallow

    - run: echo "AMICI_DIR=$(pwd)" >> $GITHUB_ENV
    - run: echo "BNGPATH=${AMICI_DIR}/ThirdParty/BioNetGen-2.7.0" >> $GITHUB_ENV

    # install amici dependencies
    - name: homebrew
      run: |
        brew install hdf5 swig gcc cppcheck libomp boost

    - name: Build AMICI
      run: |
        scripts/buildAll.sh

    - name: Install python package
      run: |
        scripts/installAmiciSource.sh

    - name: cppcheck
      run: |
        scripts/run-cppcheck.sh

    - name: Python tests
      run: |
        scripts/run-python-tests.sh

    - name: C++ tests
      run: |
        scripts/run-cpp-tests.sh
