name: Python Tests
on:
  push:
    branches:
      - develop
      - master

  pull_request:
    branches:
      - master

jobs:
  build:
    name: Python Version Matrix

    runs-on: ubuntu-latest
    
    env:
      AMICI_SKIP_CMAKE_TESTS: "TRUE"
    
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - run: echo "::set-env name=AMICI_DIR::$(pwd)"
    - run: echo "::set-env name=BNGPATH::${AMICI_DIR}/ThirdParty/BioNetGen-2.3.2"
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    
    - uses: actions/checkout@v1
      with:
        fetch-depth: 20

    # install dependencies
    - name: apt
      run: |
        sudo apt-get update \
          && sudo apt-get install -y \
          swig \
          libatlas-base-dev \
          libhdf5-serial-dev \
          libboost-dev
    - name: pip
      run: |
        pip3 install --upgrade --user wheel \
          && pip3 install --upgrade --user setuptools
          

    # install AMICI
    - name: Build BNGL
      run: |
        scripts/buildBNGL.sh
    - name: Install python package
      run: |
        scripts/installAmiciSource.sh
        
    - name: Python tests
      run: |
        source build/venv/bin/activate \
          && pip3 install pytest \
          && pip3 install git+https://github.com/pysb/pysb \
          && python3 -m pytest --ignore-glob=*petab* ${AMICI_DIR}/python/tests

    - name: notebooks
      run: |
        scripts/runNotebook.sh python/examples/example_*/
